.onyx-canvas {
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.onyx-compass {
	left: 0px;
	top: 0px;
}

/*Onyx Canvas Search Panel*/
.onyx-canvas-searchpanel {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.onyx-canvas-searchpanel-search {
	width: 256px;
	left: 50%;
	margin-left: -128px;
	margin-top: 24px;
}

.onyx-canvas-searchpanel-search .onyx-ui-searchbox-input {
	background-color: rgba(255, 255, 255, 0.5);
}

.onyx-canvas-searchpanel-layout-footer {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
}

.onyx-canvas-searchpanel-button {
	width: 128px;
	height: 32px;
	font-size: 18px;
	line-height: 32px;
	margin-top: 10px;
}

/*Corner Button*/
.onyx-canvas-cornerbutton {
	width: 48px;
	height: 48px;
	padding-top: 10px;
	padding-right: 10px;
	border-radius: 0 0 0 48px;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	text-align: right;
}

.onyx-canvas-cornerbutton-icon {
	font-size: 18px;
	color: white;
}

.onyx-canvas-cornerbutton-over {
	-webkit-box-shadow: 0px 0px 75px 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 75px 20px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 75px 20px rgba(0, 0, 0, 0.5);
}

/*Relation Dialog*/
.onyx-canvas-relationdialog {
	position: absolute;
}


/*Relation Dialog*/
.onyx-canvas-relationdialog-center {
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-91px;
	margin-top:-91px;
	width: 182px;
	height: auto;
	overflow:hidden;
	text-align:center;
}

.onyx-canvas-relationdialog-item {
	display:block;
	max-width: 64px;
	width:auto;
	height: 18px;
	line-height:18px;
	padding-left:8px;
	padding-right:8px;
	margin:1px;
	float: left;
	background-color: white;
	border-radius: 16px;
	cursor:pointer;
}